<div class="app">
  <input (input)="handleChange($event.target.value)" [value]="name" />

  <div *ngIf="name.length > 3">
    <br />
    Searching for ...{{ name }}
  </div>

  <ng-template>
    <div [ngIf]="name.length > 3">
      <br />
      Searching for ...{{ name }}
    </div>
  </ng-template>
  <div *ngIf="name.length > 2">Searching for ...{{ name }}</div>
  <div class="app">
    <hr />
    <!-- <h3>Airline Passengers</h3> -->
    <!-- <ul>
      <li *ngFor="let passenger of passengers; let i = index">
        <span [class.checked-in]="passenger.checkedIn" class="status"> </span>
        {{ i + 1 }} {{ passenger.fullname }}
      </li>
    </ul> -->
  </div>
  <div class="app">
    <h3>Airline Passengers</h3>
    <ul>
      <li *ngFor="let passenger of passengers; let i = index">
        <span
          [ngClass]="{
            'checked-in': passenger.checkedIn,
            'checked-out': !passenger.checkedIn
          }"
          class="status"
        ></span>
        {{ i + 1 }} {{ passenger.fullname }}
        <div class="date">
          Check In Date :
          {{
            passenger.checkInDate
              ? (passenger.checkInDate | date | uppercase)
              : "Not Checked In"
          }}
        </div>
      </li>
    </ul>
  </div>
  <!-- <hr /> -->
  <!-- <ng-template ngFor let-passenger let-i=index [ngForOf]="passengers">
    <div>
      <p>{{i+1}}:{{passenger.fullname}}</p>
    </div>
  </ng-template> -->
  <hr />
  <!-- <input type="text" #usename (input)="handleChange($event.target.value)" > -->
</div>
