<div>
  <span [ngClass]="{
    'checked-in': detail.checkedIn
  }" class="status"></span>
  <div *ngIf="edit">
    <input type="text" #name [value]="detail.fullname" (input)="OnNameChange(name.value)" />
  </div>
  <div *ngIf="!edit">{{ detail.fullname }}</div>
  <div class="date">
    Check In Date :
    {{
    detail.checkInDate
    ? (detail.checkInDate | date | uppercase)
    : "Not Checked In"
    }}
  </div>
  <div class="clildren">
    Children : {{detail.children?.length || 0}}
  </div>
  <button (click)="toggleEdit()">{{edit ? 'Done' : 'Edit'}}</button>
  <button (click)="Onremove()">Remove</button>
</div>
